<section class="section">
    <div class="hidden-sec js-hidden-sec" data-src="/src/images/main/hidden-sec.jpg">
        <div class="hidden-sec__container container">
            <div class="hidden-sec__title">
                <span>Я хочу просто </span>
                <strong>посмотреть<br>баттлы и МК</strong>
            </div>

            <div class="hidden-sec__btn">
                <div data-wrapwidth="340" class="btn btn--primary btn--lg btn--fill js-btn">
                    КУПИТЬ БИЛЕТ НА Russian Barber Week 2024
                </div>
            </div>

            <div class="hidden-sec__link">
                <a class="link" href="#">на сайт Russian Barber Week 2024</a>
            </div>
        </div>

    </div>
</section>