<section class="section">
    <div class="hidden-sec js-hidden-sec" data-src="src/images/main/hidden-sec.jpg">
        <div class="hidden-sec__container container">
            <div class="hidden-sec__title">
                <span>Я хочу просто </span>
                <br/>
                <strong>пойти на RBW</strong>
            </div>

            <div class="hidden-sec__btn">
                <div class="btn btn--primary btn--lg btn--fill js-btn">
                    <span>
                        КУПИТЬ БИЛЕТ НА <br/>Фестиваль <span class="is-hidden-mobile">барбер-культуры 2О26</span>
                    </span>
                </div>
            </div>

            <div class="hidden-sec__link">
                <a class="link" href="#">на сайт Фестиваля барбер-культуры 2О26</a>
            </div>
        </div>

    </div>
</section>