<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Barber King</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <%= require('html-loader!../templates/header.html').default %>
    <div class="scroll">
        <section class="section font-bender">
            <div class="main-sec">
                <div class="main-sec__line"></div>
                <div data-text="Олдскул" data-image="/src/images/main/image-4.png" class="main-sec__container js-nomination-sec"></div>
            </div>
        </section>

        <%= require('html-loader!../templates/hidden-sec.html').default %>
        
        <%= require('html-loader!../templates/footer.html').default %>
    </div>
</body>
</body>

</html>