.header {
    position: fixed;
    width: 100vw;
    z-index: var(--z-header);
    left: 0;
    top: 0;
    height: var(--h-header);
    transition: .3s;
    background: rgb(4, 2, 20);
    background: linear-gradient(180deg, rgba(4, 2, 20, 1) 0%, rgba(4, 2, 20, 0.75) 58%, rgba(4, 2, 20, 0) 100%);

    &[data-hidden='true'] {
        transform: translateY(calc(var(--h-header) * -1 - 10px));
    }

    &[data-open='true'] {
        .header__menu-btn {
            span:nth-child(1) {
                display: none;
            }
        }

        @media @desktop {
            background: transparent;
        }
    }

    &[data-open='false'] {
        .header__menu-btn {
            span:nth-child(2) {
                display: none;
            }
        }
    }

    &__container {
        height: 100%;
    }

    &__inner {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__menu-btn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        width: 155px;
        height: 60px;
        transition: .3s;
        font-size: 18px;
        font-family: 'Bender black';
        text-transform: uppercase;
        letter-spacing: 2px;
        border: 1px solid var(--c-white);

        @media @desktop {
            &:hover {
                transform: scale(0.96);
            }
        }
    }

    &__orgs {
        gap: 30px;
        display: flex;
        align-items: center;

        >* {
            display: flex;
            gap: 10px;
            letter-spacing: 2px;
            font-size: 14px;
            line-height: 1em;
            text-transform: uppercase;
            align-items: center;
        }
    }

    @media @phone {
        &__logo {
            width: 145px;
            height: 60px;
        }

        &__menu-btn {
            width: 112px;
            height: 42px;
            font-size: 14px;
        }

        &__dates,
        &__orgs {
            display: none;
        }
    }
}

.menu {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100dvh;
    padding: calc(var(--h-header) + 20px) 0 55px;
    background-color: var(--c-dark-pink);
    z-index: var(--z-menu);
    transition: var(--tm);
    overflow-y: auto;

    &[data-open='false'] {
        opacity: 0;
        pointer-events: none;
    }

    &__container {
        height: 100%;
    }

    &__inner {
        width: 100%;
        display: flex;
        padding-bottom: 40px;
        // overflow-y: auto;
        position: relative;
        gap: 40px;
        z-index: 3;
        justify-content: space-between;
        flex-direction: column-reverse;

        @media @desktop {
            gap: 0;
            height: 100%;
            flex-direction: row;
        }
    }

    &__light {
        position: absolute;
        opacity: 0.2;
        z-index: 1;
        transition: var(--tl);
        pointer-events: none;
        background-color: var(--c-light-pink);
        filter: blur(10px);
        border-radius: 50%;
        width: 50vw;
        height: 50vw;
        left: 25vw;
        top: calc(50vh - 25vw);

        [data-open='true'] & {
            opacity: 0.7;
            filter: blur(80px);
            transition-delay: .2s;
        }

        @media @desktop {
            left: auto;
            top: auto;
            right: calc(100vw / 1440 * 400);
            bottom: calc(100vh / 700 * 100);
            width: calc(100vw / 1440 * 400);
            height: calc(100vw / 1440 * 400);

            [data-open='true'] & {
                filter: blur(200px);
            }
        }

        .not-blured & {
            opacity: 0;
            display: none;
            visibility: hidden;
        }
    }

    &__mail {
        color: var(--c-pure-pink);
        .t-m(16px, 1.3em);
        .t-d(30px, 1.3em);
    }

    &__right {
        width: 100%;
        max-width: 619px;

    }

    &__nominations {
        margin-top: 20px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 5px;

        div {
            margin-top: 20px;
        }

        @media @phone {
            position: absolute;
            writing-mode: vertical-rl;
            transform: scale(-1, -1);
            margin-top: 15px;

            // div {
            //     margin-top: 15px;
            // }

            hr {
                display: none;
            }
        }
    }

    &__items {
        @media @phone {
            margin-left: 26px;
            border-left: 1px solid var(--c-white);
            padding-left: 12px;
        }
    }

    &__items-main {
        .menu__item {
            margin-top: 0;
        }

        hr {
            width: 100%;
            margin-top: 20px;
            border-bottom: 1px solid var(--c-white);
        }
    }

    &__item {
        font-size: 18px;
        display: block;
        letter-spacing: 4px;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        margin-top: 20px;
        font-family: 'Bender black';


        position: relative;
        text-shadow: none;

        @media @desktop {
            font-size: 25px;

            &:hover {
                animation: glitch 725ms infinite;
            }
        }
    }
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
            0.025em 0.04em 0 #fffc00;
    }

    15% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
            0.025em 0.04em 0 #fffc00;
    }

    16% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
            -0.05em -0.05em 0 #fffc00;
    }

    49% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
            -0.05em -0.05em 0 #fffc00;
    }

    50% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
            0 -0.04em 0 #fffc00;
    }

    99% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
            0 -0.04em 0 #fffc00;
    }

    100% {
        text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
            -0.04em -0.025em 0 #fffc00;
    }
}