<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Barber King</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body> <%= require('html-loader!../templates/header.html').default %> <div class="scroll">
        <section class="section">
            <div class="container">
                <div class="document-sec">
                    <h1>Согласие на обработку персональных данных пользователя сайта</h1>
                    <p> Настоящий документ определяет условия получения и обработки правообладателем сайта <a href="https://www.barberking.ru/my" target="_blank">https://www.barberking.ru/my</a> (далее – «Сайт») – Индивидуальным предпринимателем Тришиным Алексеем Владимировичем, ИНН – 770305420081, ОГРНИП – 314774602401123 (далее — Оператор), персональных данных пользователя, обратившегося к Сайту и его сервисам (далее – «Пользователь»). </p>
                    <br><br>
                    <p> Пользователь предоставляет Оператору свои персональные данные в соответствии с Федеральным законом от 27.07.2006 №152-ФЗ «О персональных данных» путем заполнения специальных полей в формах сервисов, размещенных на Сайте, в том числе в формах обратной связи, и/или путем сообщения Оператору своих персональных данных иным способом (в том числе, сообщенных дополнительно по телефону, в процессе использования Сайта). </p>
                    <br><br>
                    <p> Пользователь полностью принимает условия настоящего Согласия на обработку персональных данных (далее – «Согласие») путем заполнения соответствующей формы обратной связи и/или путем использования сервисов Сайта и/или Сайта в целом. </p>
                    <br><br>
                    <p> Пользователь дает свое согласие Оператору на обработку своих персональных данных на следующих условиях: </p>
                    <br><br>
                    <p> <b>1.</b> Согласие дается на обработку всех размещаемых Пользователем на Сайте и/или сообщаемых Оператору иным способом своих персональных данных (включая, но не ограничиваясь: фамилия, имя, отчество, адрес, дата рождения, номер телефона, адрес электронной почты (e-mail). </p>
                    <br><br>
                    <p> <b>2.</b> Пользователь подтверждает, что все указанные им данные принадлежат лично ему. В случае указания ложных (неточных, недостоверных) сведений, а также при несвоевременном изменении устаревших сведений Пользователь самостоятельно несет риск любых негативных последствий, вызванных указанием некорректных сведений. </p>
                    <br><br>
                    <p> <b>3.</b> Обработка персональных данных осуществляется Оператором с целью: </p>
                    <p class="document-sec__list-item document-sec__list-item_num"> 1) использования Пользователем Сайта и сервисов Сайта; </p>
                    <p class="document-sec__list-item document-sec__list-item_num"> 2) идентификации Пользователя Сайта; </p>
                    <p class="document-sec__list-item document-sec__list-item_num"> 3) обеспечения связи Оператора с Пользователем посредством предоставленных Пользователем персональных (контактных) данных, в том числе, для предоставления Пользователю информации о предоставляемых Оператором услугах, сроках, порядке их предоставления, ценах, иной справочной информации и актуальных акционных предложениях; </p>
                    <p class="document-sec__list-item document-sec__list-item_num"> 4) предоставления Пользователю услуги «Обратная связь»; </p>
                    <p class="document-sec__list-item document-sec__list-item_num"> 5) предоставления Пользователям доступа в личный кабинет; </p>
                    <p class="document-sec__list-item document-sec__list-item_num"> 6) мониторинга и улучшения работы Сайта; </p>
                    <p class="document-sec__list-item document-sec__list-item_num"> 7) проведения статистических и аналитических исследований, анализа пользовательской активности; </p>
                    <p class="document-sec__list-item document-sec__list-item_num"> 8) улучшения качества обслуживания. Обработка персональных данных осуществляется Оператором в порядке и на условиях, предусмотренных утвержденной Политикой обработки персональных данных. </p>
                    <br><br>
                    <p> <b>4.</b> В ходе обработки с персональными данными Пользователя могут быть совершены следующие действия: </p>
                    <p class="document-sec__list-item document-sec__list-item_num"> 1) получение, ввод, сбор, систематизация, накопление персональных данных Оператором, а также у третьих лиц; </p>
                    <p class="document-sec__list-item document-sec__list-item_num"> 2) хранение персональных данных (в электронном виде); </p>
                    <p class="document-sec__list-item document-sec__list-item_num"> 3) уточнение (обновление, изменение) персональных данных; </p>
                    <p class="document-sec__list-item document-sec__list-item_num"> 4) использование персональных данных; </p>
                    <p class="document-sec__list-item document-sec__list-item_num"> 5) передача персональных данных в порядке, предусмотренном законодательством РФ; </p>
                    <p class="document-sec__list-item document-sec__list-item_num"> 6) блокирование, удаление, уничтожение; </p>
                    <p class="document-sec__list-item document-sec__list-item_num"> 7) любые иные действия (операции) или совокупность действий (операций) с персональными данными, совершаемых с использованием средств автоматизации или без использования таких средств. </p>
                    <p> Оператор вправе передать и/или поручить обработку персональных данных Пользователя третьим лицам (при условии соблюдения режима конфиденциальности персональных данных, а также при условии, что это не нарушает законные права и интересы Пользователя и положения действующего законодательства). Третьи лица, привлечённые Оператором, осуществляют обработку персональных данных Пользователя, предоставляемых Оператором, в объёме, в целях и способами, установленными настоящим Согласием. </p>
                    <br><br>
                    <p> <b>5.</b> Настоящее Согласие действует в отношении всей информации, которую Оператор может получить о Пользователе во время использования им Сайта и его сервисов. </p>
                    <p> Использование Сайта и его сервисов означает безоговорочное согласие Пользователя с условиями обработки его персональных данных, в том числе посредством использования систем веб-аналитики. </p>
                    <p> В случае несогласия с этими условиями Пользователь должен воздержаться от использования Сайта и его сервисов. </p>
                    <br><br>
                    <p> <b>6.</b> Согласие на обработку персональных данных дается с момента предоставления Пользователем Оператору своих персональных данных без ограничения срока его действия. </p>
                    <br><br>
                    <p> <b>7.</b> Пользователь уведомлен о том, что он вправе в любое время отозвать свое Согласие путем направления письменного заявления Оператору. Отзыв Согласия, а также иные письменные заявления могут быть направлены Пользователем заказным почтовым отправлением с описью вложения по адресу местонахождения Оператора: 105066, город Москва, ул. Нижняя Красносельская, д. 35, стр. 64 или по электронной почте: org@barberking.ru. </p>
                </div>
            </div>
        </section>
        <%= require('html-loader!../templates/footer.html').default %>
    </div>
    <%= require('html-loader!../templates/cookie-consent.html').default %>
</body>

</html>
